# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Secrets
.env
*.pem
*.key
